*.vtu
*.xdmf
*.xml
*.pyc
*.pvd
*.txt
*.png
*.p
*.h5
*.pyc
*.swp
*.BAK
*~
*#
**/.DS_Store
scripts/*
!scripts/ismipc/
!scripts/*toml
example_cases/*/input
example_cases/*/output
example_cases/*/plots
example_cases/plots
log*
*.log
*.pdf
*.aux
*.out
*.toc
*.dot
core
.idea